* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #3B9372;
  background-color: #5AE8B2;
}
.logout{
  padding: 15px 30px;
  margin: 20px 50px;
  border: none;
  background-color: #FCFCFC;
  color: #5AE8B2;
  box-shadow: 0 0 2.4px #1A3E27;
  transition: 0.3s ease-in-out;
}
.logout:hover{
  background-color: #F6FAF8;
}
.form-container {
  width: 30%;
  border-radius: 15px;
  margin: 50px auto;
  background-color: #FCFCFC;
  padding: 30px 0;
  box-shadow: 0 0 3px #116140;
}

.form {
  width: 80%;
  margin: 0 auto 0 auto;
}

input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 15px;
  font-size: 1rem;
  width: 100%;
  margin: 10px 0;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 1px #1F1B1B;
  background-color: #F3F3F3;
}
input:focus{
  outline: 2px solid #5AE8B2;
}

.allBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

button {
  font-size: 0.9rem;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #76B78E;
  color: #F3F3F3;
  box-shadow: 0 0 1px #102A1F;
  transition: 0.4s;
}

button:hover{
  background-color: #81C49A;
}
